<% @announcements.each do |announcement|%>
  <div class="well">
    <blockquote>
      <%= announcement['announcement'] %>
    </blockquote>
    <p>
      - <%= announcement['posted_by'] %>
    </p>
  </div>
<% end %>
